.nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 16px;
    align-items: center;
    margin-top: 0;
}

.nav h1{
    text-align: center;
}
.nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav li {
    margin-left: 20px;
}

.link:visited,
.link:active,
.link {
    cursor: pointer;
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 350px) {
    .nav {
        flex-direction: column;
        padding: 4px;
    }
    .nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .nav li {
        margin-left: 0;
    }
    
}